n8n/FraudAlertWorkflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fintech-fraud-alert",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -864,
        1104
      ],
      "id": "8a5a493a-32c8-4436-97bf-ac6ca8169436",
      "name": "Webhook",
      "webhookId": "9ad7314b-5e06-422e-96b0-b0a7de555a2d"
    },
    {
      "parameters": {
        "content": "##  n8n Workflow 1 (Fraud Alert Email)\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/components/sticky-notes/)",
        "height": 400,
        "width": 640,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -960,
        944
      ],
      "typeVersion": 1,
      "id": "5204b2a1-8a1e-4034-966a-1721ad3a750a",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "##  n8n Workflow 2 (Approve/Reject Handler)\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/components/sticky-notes/)",
        "height": 624,
        "width": 1360,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        832
      ],
      "typeVersion": 1,
      "id": "3d25b180-50f9-4b11-968c-3672e479468a",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "da2446a2-4a78-45eb-8a15-11a559ea4589",
              "leftValue": "={{ $json.query.action }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        128,
        1088
      ],
      "id": "504bf2b2-6b10-4e40-87ad-12c4735dedeb",
      "name": "If (action == approve)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:8000/api/v1/transactions/{{ $json.query.id }}/approve\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        480,
        896
      ],
      "id": "f14fd81c-007a-4faf-afc7-f2e1f8e38286",
      "name": "HTTP Request: POST /approve",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:8000/api/v1/transactions/{{ $json.query.id }}/reject",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        480,
        1296
      ],
      "id": "a55ce5ad-d1d3-4a00-9e83-eefa2ebd896c",
      "name": "HTTP Request: POST /reject",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<h3>Transaction Approved Successfully! Thank you.</h3>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        800,
        896
      ],
      "id": "73efc4cc-4587-4189-b859-82e7881c9251",
      "name": "Respond to Webhook Success Message",
      "notes": "Thank you for your response"
    },
    {
      "parameters": {
        "content": "## Fraud Alert Email\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/components/sticky-notes/)",
        "height": 192,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -928,
        704
      ],
      "typeVersion": 1,
      "id": "ed98886e-ebe4-47c9-a1d5-21c3bdd9e818",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "fromEmail": "security@yourdomain.com",
        "toEmail": "={{ $json.body.user_email }}",
        "subject": "⚠️ CRITICAL: Security Verification Required for Transaction",
        "html": "=<div style=\"font-family: Arial, sans-serif; padding: 20px; border: 1px solid #eee; border-radius: 5px;\">\n  <h2 style=\"color: #d9534f;\">Suspicious Transaction Detected</h2>\n  <p>Mohammad Usman, aap ke account se ek high-risk transaction request mili hai:</p>\n  <ul>\n    <li><strong>Amount:</strong> PKR {{ $json.body.amount }}</li>\n    <li><strong>Merchant:</strong> {{ $json.body.merchant_category }}</li>\n    <li><strong>Risk Score:</strong> {{ $json.body.fraud_probability * 100 }}%</li>\n  </ul>\n  <p>Kya yeh transaction aap ne khud ki hai? Niche diye gaye buttons par click kar ke confirm karein:</p>\n  \n  <div style=\"margin: 20px 0;\">\n    <!-- ✅ YES, APPROVE BUTTON LINK -->\n    <a href=\"http://localhost:5678/webhook-test/transaction-response?action=approve&id={{ $json.body.transaction_id }}\" style=\"background-color: #5cb85c; color: white; padding: 10px 20px; text-decoration: none; border-radius: 3px; margin-right: 10px; display: inline-block;\">✅ Yes, Approve</a>\n\n    <!-- ❌ NO, REJECT BUTTON LINK -->\n    <a href=\"http://localhost:5678/webhook-test/transaction-response?action=reject&id={{ $json.body.transaction_id }}\" style=\"background-color: #d9534f; color: white; padding: 10px 20px; text-decoration: none; border-radius: 3px; display: inline-block;\">❌ No, Reject / Block</a>\n  </div>\n  \n  <p style=\"font-size: 12px; color: #777;\">Powered by AI-Empowered Fintech Fraud Detection System — Minhaj University Lahore.</p>\n</div>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -560,
        1104
      ],
      "id": "7ee9cade-9a54-4802-81ed-ae3526e1c7f7",
      "name": "Send an Email",
      "webhookId": "9a2ecf89-7171-424b-98c9-d5d3a8810a70",
      "credentials": {
        "smtp": {
          "id": "LX3nnZTzyE3ZLg8V",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "path": "transaction-response",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -160,
        1088
      ],
      "id": "0be590f1-a84d-4ca4-9883-59a0f084aa02",
      "name": "Webhook (get, /transaction-response)",
      "webhookId": "4705e67d-268c-432c-a6d4-83823f55bc3a"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<h3>Transaction Blocked/Rejected Successfully! Security team has been notified. </h3>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "=Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        816,
        1296
      ],
      "id": "ff27de32-6295-4026-a7d7-ef38255e6601",
      "name": "Respond to Webhook Success Message1"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If (action == approve)": {
      "main": [
        [
          {
            "node": "HTTP Request: POST /approve",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request: POST /reject",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request: POST /approve": {
      "main": [
        [
          {
            "node": "Respond to Webhook Success Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request: POST /reject": {
      "main": [
        [
          {
            "node": "Respond to Webhook Success Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (get, /transaction-response)": {
      "main": [
        [
          {
            "node": "If (action == approve)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1b727851e7363c90b95febdbdbb95d0a6da35bc5056a56899bc7661fd43d54bc"
  }
}